body{
  font-family: 'Roboto', sans-serif;
}

#alert-login{
  font-size: 12px;
}

.signin-and-signup{
  display:grid;
  grid-template-columns: 40% auto;
  height:100%;
}

#login h4 a{
  color:#DC143C;
}

.button-signin-and-signup{
  width:100%;
  margin:20px 0px;
  padding:10px 20px;
  background-color:#DC143C;
  color:white;
  border:1px solid #DC143C;
  cursor: pointer;
  border-radius:8px;
  transition:all .3s;
}

.button-signin-and-signup:hover{
  background-color: #AB1313;
}

#bg-login{
  background-image: url("/img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity:0.4;
  width:100%;
}

#login{
  padding:40px 40px;
  border:1px solid gray;
  border-radius:5%;
  justify-self: center;
  margin:50px auto;
  text-align: center;
  display: inline-block;
  background-color:white;
  width:40%;
}

#login p{
  font-size : 14px;
}

#login label{
  display:block;
  text-align:center;
  margin:10px 0px;
}

#login input{
  display:block;
  text-align:left;
  margin:10px 0px;
  border:none;
  outline:none;
  width:100%;
}

#form-border{
  height:1px;
  width:100%;
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
}

header{
  padding:20px 20px;
  text-align:center;
  border:1px solid gray;
  box-shadow: 0px 0px 5px 0px gray;
}

header .home a{
  display: inline-block;
  text-align:center;
}

header .logout ul{
  text-align: right;
  margin:0;
}

header .logout ul li{
  display:block;
  justify-items: right;
  padding:10px 0px;
}

header .logout ul li a{
  font-size: 16px;
  padding: 3px 5px;
  text-decoration: none;
  color: #757171;
  box-shadow: 1px 1px 1px 1px #3C3737;
  border-radius: 8px;
  transition: all .3s;
}

header .logout ul li a:hover{
  box-shadow: 2px 1px 1px #3C3737;
}

.img-power{
  width: 16px;
  height: 16px;
  margin: auto 5px;
}

header img{
  height:100px;
  width:100px;
  justify-self: center;
}

.Item-menu{
  margin : 20px 40px;
  padding : 10px 40px;
  text-align : center;
  border : 1px solid gray;
  box-shadow : 1px 1px 1px 1px;
  border-radius : 8px;
}

.Item-menu-inbox{
  margin: 20px 300px;
  padding: 10px 40px;
  text-align: center;
  border : 1px solid gray;
  box-shadow : 1px 1px 1px 1px;
  border-radius: 8px;
}

.Item-column{
  display : grid;
  grid-template-columns: repeat(2,auto);
}

.Item{
  border: 1px solid black;
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 8px;
  transition : all .3s;
}

.Item:hover {
  background-color: #F8F8FF;
  cursor:pointer;
  box-shadow:2px 4px 4px 1px black;
}

.Item a{
  text-decoration: none;
  color: black;
}

.item-image{
  height : 50px;
  width : 50px;
}

.title-documentation{
  text-align: center;
}

.privasi-syarat{
  padding: 20px 40px;
}

.privasi-syarat{
  color: #4d4d4d;
}

.privasi-syarat h1,li{
  color: #4d4d4d;
}

.table_data{
  color: #232323;
  border-collapse : collapse;
  margin-top : 50px;
  margin-left : 10px;
  margin-right : 10px;
  margin-bottom : 50px;
}

.table_data,th,td{
  border: 1px solid #999;
  padding: 8px 5px;
  font-size: 14px; 
}

.table_data,th{
  text-align: center;
}

.card{
  padding : 30px 30px;
  margin : 25px 40px;
  border-radius : 8px;
  box-shadow : 1px 2px 8px rgba(0,0,0,0.65);
}

.card-title{
  text-align : center;
}

.card form input,textarea{
  margin: 10px 0px;
}

.card form input{
  width: 400px;
}

.button-confirm{
  margin : 10px 0px;
  padding : 10px 10px;
  border-radius : 8px;
  background-color: #e81a2e;
  color: #f0e9e9;
  transition: all .3s;
}

.button-confirm:hover{
  cursor: pointer;
  background-color: #800505;
}

footer{
  margin-top: 100px;
  background-color: #333;
  color : #E4E4E4 ;
  text-align : center;
  padding : 20px 40px;
}

.heart-icon{
  color: #fc3f5e;
  font-size: 15px;
}

.mytable{
  color : yellowgreen;
  border-collapse : collapse;
}

.mytable thead{
  border: 1px solid #999;
  padding: 8px 20px;
}

.btn{
  margin: 5px 5px;
}

.list-inbox{
  margin-bottom: 50px;
}

.list-inbox ul{
  padding:0px;
}

.list-inbox ul li{
  display: grid;
  grid-template-columns : 92% auto;
  list-style: none;
  border:2px solid black;
  padding: 20px 20px;
  margin: 0px 20px;
}

.list-inbox ul li a{
  text-decoration: none;
  color: black;
  padding:0 auto;
  list-style-type: none;
}

.title-inbox{
  padding:20px 20px;
  text-align: center;
}

.descript-option{
  display: grid;
  grid-template-columns: 70% auto;
}

.option{
  text-align:right;
}

.slide-inbox-client{
  width: 80%;
  height: 70%;
  padding:20px 40px;
  margin:30px auto;
  border: 1px solid black;
}

.trash-icon{
  width: 30px;
  height: 30px;
}

#pesan{
  display: none;
}

#str{
  display: none;
}

.loading{
  width: 15px;
  height: 15px;
}

.ket_foto{
  color: #179652;
  font-size: 12px;
  margin:0px 0px;
}

.top-footer{
  margin-bottom: 40px;
  display:grid;
  grid-template-columns: repeat(2,auto);
}

.top-left-footer{
  text-align: left;
}

.top-right-footer{
  padding-left: 800px;
  padding-top: 50px;
}

.top-right-footer a{
  display: block;
  text-align: left;
  margin:5px 0px;
  color: #E4E4E4;
  text-decoration: none;
  transition: all .3s;
}

.top-right-footer a:hover{
  color: #CAC4C4;
}

.icon-contact{
  width: 18px;
  height: 15px;
  margin-right: 5px;
}

.error-page{
  margin: auto auto;
  text-align: center;
}

.error-page img{
  width: 150px;
  height: 150px;
}

@media only screen and (max-width:1024px){
  #login{
    padding: 20px 20px;
  }

  .card form{
    padding: 0px 20px;
  }

  .top-right-footer {
    padding-left: 500px;
    padding-top: 50px;
  }

  .table_data th,td{
    font-size: 10px;
  }

  .table_data a{
    font-size: 10px;
  }

  .btn{
    font-size: 10px;
  }
}

@media only screen and (max-width:768px){
  .signin-and-signup {
    display: grid;
    grid-template-columns: 100%;
  }

  .button-signin-and-signup{
    font-size: 14px;
  }

  #login h1{
    font-size: 24px;
  }

  #login p,label{
    font-size: 14px;
  }

  #bg-login{
    display: none;
  }

  footer{
    padding: 10px 20px;
  }

  .top-left-footer {
    font-size: 16px;
  }

  .top-right-footer{
    padding-left: 350px;
    padding-top: 50px;
  }

  .top-right-footer a{
    font-size: 14px;
  }

  .icon-contact{
    width: 15px;
    height: 12px;    
  }

  .privasi-syarat h1{
    font-size: 24px;
  }

  .privasi-syarat p{
    font-size: 14px;
  }

  .privasi-syarat li{
    font-size: 14px;
  }

  .Item-menu-inbox{
    margin: 20px 150px;
  }

  .list-inbox ul li{
    display:grid;
    grid-template-columns: 88% auto;
  }

  .slide-inbox-client p{
    font-size: 14px;
  }

  .option span{
    font-size: 14px;
  }

  .table_data{
    width: 100%;
    margin:20px 0px;
  }

  .table_data thead th .column-primary{
      width:100%;
  }

  .table_data thead th:not(.column-primary){
    display: none;
  }

  .table_data th[scope="row"]{
    vertical-align: top;     
  }

  .table_data td{
    display: block;
    text-align: right;
  }

  .table_data thead th::before{
    content: attr(data-header);
  }

  .table_data td::before{
    float: left;
    font-weight: bold;
    content: attr(data-header);
  }

  .card-title h2{
    font-size: 18px;
  }

  .card-title p{
    font-size: 10px;
  }

  .card form label{
    font-size: 12px;
  }

  .card form input{
    font-size: 12px;
  }

  .card form textarea{
    font-size: 12px;
  }

  .card form .button-confirm{
    font-size: 14px;
  }

  .error-page img{
    width: 90px;
    height: 90px;
  }

  .error-page h1{
    font-size: 30px;
  }
}

@media only screen and (max-width: 425px){
  #login{
    margin: 40px 0px;
    width: 60%;
  }

  header .logout ul li{
    font-size: 12px;
    padding: 5px 0px;
  }

  header .logout ul li a{
    font-size: 12px;
  }

  .img-power{
    width: 10px;
    height: 10px;
  }

  .privasi-syarat{
    padding: 20px 20px;
  }

  .privasi-syarat h1{
    font-size: 20px;
  }

  .privasi-syarat p{
    font-size: 12px;
  }

  .privasi-syarat li{
    font-size: 12px;
  }
  
  .title-index{
    font-size: 18px;
  }

  .Item-menu p{
    font-size: 12px;
  }

  .Item-menu h2{
    font-size: 16px;
  }

  .Item a h3{
    font-size: 14px;
  }

  .Item-menu-inbox{
    margin: 20px 75px;
  }

  .Item-menu-inbox h2{
    font-size: 16px;
  }

  footer{
    padding: 10px 20px;
  }
  .top-left-footer {
    font-size: 10px;
  }

  .top-left-footer{
    font-size: 8px;
  }

  .top-right-footer{
    padding-left: 150px;
    padding-top: 20px;
  }

  .top-right-footer a{
    font-size: 8px;
  }

  .icon-contact{
    width: 12px;
    height: 10px;    
  }

  footer .bottom-footer p{
    font-size: 10px;
  }

  .card form input{
    width: 250px;
    font-size: 12px;
  } 

  .ket_foto{
    font-size: 10px;
  }

  .card form textarea{
    width: 250px;
    font-size: 12px;
  }

  .card form .button-confirm{
    font-size: 10px;
  }

  .table_data thead tr th{
    font-size:10px;
  }

  .table_data tbody tr td{
    font-size:10px;
  }

  .table_data tbody tr th a{
    font-size: 10px;
  }

  .title-inbox h3{
    font-size: 14px;
  }

  .list-inbox ul li{
    display: grid;
    grid-template-columns: 80% auto;
  }

  .list-inbox ul li a{
    font-size: 10px;
  }

  .slide-inbox-client{
    padding: 20px 20px;
  }

  .slide-inbox-client p{
    font-size: 12px;
    margin: 0px;
  }

  .descript-option .descript-sender p{
    font-size: 10px;
    margin: 0px;
  }

  .option a{
    padding: 5px 5px;
  }

  .option a .trash-icon{
    width: 20px;
    height: 20px;
    padding: 0px;
  }

  .option a span{
    font-size: 10px;
  }

  .error-page img{
    width: 90px;
    height: 90px;
  }

  .error-page h1{
    font-size: 28px;
  }

  .error-page p{
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px){
  #login p,label{
    font-size: 12px;
  }

  .button-signin-and-signup {
    font-size: 12px;
}

  .Item-menu{
    padding: 10px 30px;
  }

  /*footer*/
  .top-left-footer {
    font-size: 10px;
  }

  .top-left-footer{
    font-size: 8px;
  }

  .top-right-footer{
    padding-left: 100px;
    padding-top: 20px;
  }

  .top-right-footer a{
    font-size: 8px;
  }

  .icon-contact{
    width: 12px;
    height: 10px;    
  }
  /*end*/

  .Item-menu-inbox{
    padding: 10px 30px;
  }

  .card form input{
    width: 200px;
  }

  .card form textarea{
    width: 200px;
  }
}

@media only screen and (max-width: 320px){
  header .logout ul li{
    font-size: 10px;
    padding: 5px 0px;
  }

  header .logout ul li a{
    font-size: 10px;
  }

  .img-power{
    width: 10px;
    height: 10px;
  }

  .Item-menu{
    padding: 10px 20px;
  }

  .Item{
    margin:0px 5px;
  }

  .Item a h3{
    font-size: 10px;
  }

  .Item a img{
    width: 30px;
    height: 30px;
  }

  footer{
    margin-top: 100px;
    padding: 10px 20px;
  }

  /*footer*/
  .top-left-footer h3{
    font-size: 10px;
  }

  .top-left-footer{
    font-size: 8px;
  }

  .top-right-footer{
    padding-left: 50px;
    padding-top: 20px;
  }

  .top-right-footer a{
    font-size: 8px;
  }

  .icon-contact{
    width: 12px;
    height: 10px;    
  }
  /*end*/
  
  .Item-menu-inbox{
    padding: 10px 15px;
  }

  .card{
    padding: 15px 15px;
  }

  .card h2{
    font-size: 14px;
  }

  .card form input{
    width: 150px;
    height: 15px;
  }

  .ket_foto{
    font-size: 8px;
  }

  .card form textarea{
    width: 150px;
  }
}